@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-golos: 'Golos Text', sans-serif;
    --color-primary: #DEA54B;
    --color-secondary: #6E7E85;
    --color-accent: #007AFF;
    --color-background: #000000;

}

@utility flex-center {

  @apply flex justify-center items-center;

}

@layer base {
  body, h1, h2, h3, h4, h5, h6, p, span, a, button, input, label, div, section, header, nav {
    @apply font-golos;
  }

  button {
    @apply cursor-pointer text-white px-4 py-2 rounded flex-center;
  }

  h1 {
    @apply text-6xl font-semibold;
  }

  h2 {
    @apply text-5xl font-semibold;
  }

  h3 {
    @apply text-4xl font-semibold;
  }

  h4 {
    @apply text-3xl font-semibold;
  }

  h5 {
    @apply text-2xl font-semibold;
  }

  h6 {
    @apply text-xl font-semibold;
  }
}


@utility bg-primary-radial {

  @apply bg-radial-[at_100%_100%] lg:bg-radial-[at_50%_100%] from-primary to-white to-60%  ;
}

@utility bg-primary-radial-nav {

  @apply bg-radial-[at_50%_100%] from-primary to-yellow-100/5 to-55% ;
}

@utility form-entry {

  @apply font-golos border-2 border-gray-500 rounded-3xl px-3 focus:outline-none focus:ring-2 focus:ring-blue-500;
  
}

@utility form-submit-btn {

  @apply text-2xl border-2 border-black bg-accent text-white rounded-3xl hover:bg-blue-800 transition duration-200;
}
