@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

body {
    background-color: #b9b9b9;
    font-family: "Golos Text", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 3px solid #9c9c9c;
    box-shadow: inset 0 -20px 10px -10px rgba(255,165,0,1);
    display: flex;
    align-items: center;
}

#navbar ul {
    font-family: "Golos Text", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

#navbar li {
    border: 2px solid #9c9c9c;
    width: auto;
    float: none;
    list-style: none;
    margin: 0 10px;
    border: 2px solid #9c9c9c;
    padding: 10px;
    border-radius: 5px;
}

#navbar li.search-container {
    border: none;
    padding: 0;
    margin-left: 10px;
}

.search-container { 
    margin-right: auto;
}

.search-container input[type="text"] {
    /* float: left; */
    padding: 5px;
    /* margin: 10px; */
    /* background: white; */
    border: 2px solid #9c9c9c;
    border-radius: 20px;
    width: 250px;
    font-size: 12px;
    height: 15px;
}

#tasks {
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 2px solid #9c9c9c;
    background-color: #ffedca;
    margin-left: 25px;
    margin-top: 50px;
    align-content: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#task_description {
    display: inline-block;
    width: 600px;
    height: 40px;
    border: 2px solid #9c9c9c;
    background-color: #ffedca;
    margin-left: 50px;
    margin-top: 50px;
    align-content: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.main {
    background-color: white;
    border-color: 2px solid #9c9c9c;
    height: 500px;
    width: 1300px;
    margin-left: 25px;
    margin-right: 5px;
}

table {
    border: 2px solid #9c9c9c;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
}

td,th {
    border: 2px solid #9c9c9c;
    background-color: white;
    text-align: left;
    padding: 8px;
}

td:first-child {
    background-color: #FFF6E5;
    width: 15%;
}

#deletetask {
    background-color: #ff0000;
    color: black;
    padding: 8px;
}

#createtask {
    background-color: #007aff;
    color: black;
    padding: 8px;
}